// === COLORS ===
$nav-text-color: #F4E9F8;
$navbar-color: #24CD77;
$text-color: #786E7B;

// === FONTS ===
$nav-font: "Roboto Condensed", sans-serif;

// == BREAKPOINTS ===
$medium-screen: 768px;
$large-screen: 1224px;
$xlg-screen: 1824px;